<div id="slide-show" class="carousel slide w-50" data-ride="carousel">
    <!--indicators-->
    <ul class="carousel-indicators">
        <li data-target="#slide-show" data-slide-to="0" class="active"></li>
        <li data-target="#slide-show" data-slide-to="1" class="active"></li>
        <li data-target="#slide-show" data-slide-to="2" class="active"></li>
    </ul>
    <!--the slide show-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="">
            <img src="">
            <img src="">
        </div>
    </div>

    <!-- left and right controls-->
    <a class="carousel-control-prev" href="#slide-show" data-slide="prev"><span class="carousel-control-prev-icon">
    </span>
    </a>
    <a class="carousel-control-next" href="#slide-show" data-slide="next"><span class="carousel-control-next-icon">
    </span>
    </a>
</div>